<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h4 class="title is-4 white">Homezon</h4>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="/" class="navbar-item">
              Home
            </a>
      
            <a href="/category/all" class="navbar-item">
              Categories
            </a>

            <a href="/category/create" class="navbar-item">
              Create category
            </a>

            <a href="/item/create" class="navbar-item">
              Create house
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-widescreen">

    